@model List<Model.Model.ListStudentCourse>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title">
    <h3>View attendance for @ViewBag.Name</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr style="background-color: #6b90da">
                    <th>COURSE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="" href="/Course/@item.ID">@item.NameSubject (@item.CodeSubject) - (@item.CodeCourse)</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>