<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="ProjectDbContext" connectionString="data source=localhost;initial catalog=AP2;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>